# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
backend/.venv/

# Django
/staticfiles/
/db.sqlite3

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# macOS
.DS_Store
